@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: Poppins, Roboto;
  background: linear-gradient(0deg, #2d1735 2%, #5862ee 98%);
}

p {
  color: rgb(255, 255, 255);
}



.nav-link {
  color: rgb(16, 95, 242);
}

.navbar-nav .nav-link.active {
  color: rgb(149, 58, 235);
}

.navbar-brand img {
  width: 75px;
}

.navbar-toggler {
  background-color: rgb(140, 113, 164);
}

.sidebar {
  color: rgb(254, 254, 255);
  background: linear-gradient(0deg, #2d1735 2%, #5862ee 98%);
}

.card {
  background: linear-gradient(280deg, #2d1735 2%, #5862ee 98%);
  color: rgb(255, 255, 255);
}

.card a {
  text-decoration: none;
  color: rgb(253, 254, 255);
}

input:focus {
outline: none;
}

.slido-text, 
  .footer-text {
  color: aliceblue;
  margin: auto auto;
}

footer, 
  .btn-outline-primary {
  background: linear-gradient(280deg, #2d1735 2%, #101ff4 98%);

}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-anim {
  animation: myAnim 2s ease 0s infinite normal forwards;

}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: block;
  }
}





